alembic==1.12.0
babel==2.9.0
blinker==1.6.2
click==8.1.7
colorama==0.4.6
greenlet==2.0.2
flask==1.1.2
flask-moment==1.0.5
flask-wtf==0.14.3
flask_sqlalchemy==2.4.4
flask_migrate==2.7.0
itsdangerous==2.0.1
importlib-metadata==6.8.0
jinja2==2.11.3
Mako==1.2.4
MarkupSafe==1.1.1
packaging==23.1
psycopg2==2.9.7
python-dateutil==2.6.0
setuptools==68.2.0
six==1.16.0
SQLAlchemy==1.4.13
Werkzeug==2.0.0
WTForms==3.0.1
zipp==3.17.0
